{{> header }}
    
{{> navbar }}
<div class='row'>
    <div class='col-8'>
        <h1>Iroman Finish!!</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At voluptatibus a aliquam? Soluta, assumenda quod debitis ea quis voluptatem, dolores quia officiis, rerum iusto ratione voluptate. Soluta vitae tempore beatae.
        </p>

    </div>
    
    <div class='col-4'>
        <image src='assets/img/iroman.jpg' class='img-thubnail'>
    </div>

</div>

{{> footer}}